.main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  margin-top: 10px;
  justify-content: start;
  align-items: center;
  background-color: rgb(209, 207, 207);
}

.title{
  line-height: 0vmin;
}

.delete{
  justify-self: center;
  width: 300px;
}